In [11]:
# Dependencies
import pandas as pd

# File to load
file_to_load = "Resources/purchase_data.csv"

# Read file
purchase_data = pd.read_csv(file_to_load)

# Player Count

In [12]:
# Total players count
total_number_of_players = len(purchase_data["SN"].value_counts())
total_number_of_players

# Total players dataframe
total_players_df = pd.DataFrame({"Total PLayers":[total_number_of_players]})
total_players_df

   Total PLayers
0            576

# Purchasing Analysis (Total)

In [13]:
# Calculations for unique items, avg price, number of purchases, and total revenue
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

# summary of above calculations dataframe
summary_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                          "Average Price": [average_price],
                          "Number of Purchases": [number_of_purchases],
                          "Total Revenue": [total_revenue]})

# Cleaner formatting
summary_df.style.format({"Average Price":"${:.2f}",
                         "Total Revenue": "${:,.2f}"})

# Gender Demographics

In [14]:
# Groupby purchase data by gender
gender_demographics = purchase_data.groupby("Gender")

# Count SN by gender
total_SN_gender = gender_demographics.nunique()["SN"]

# divide by toal players for percent
percent_players = total_SN_gender / total_number_of_players * 100

# create dataframe for above
gender_demographics_df = pd.DataFrame({"Total Count": total_SN_gender, "Percentage of Players": percent_players})

# no index name
gender_demographics_df.index.name = None

# cleaner formatting
gender_demographics_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

# Purchasing Analysis (Gender)

In [15]:
# Calculations of purchase count, avg purchase price, total purchase value, avg total purchase per person
purchase_count = gender_demographics["Purchase ID"].count()
average_purchase_price = gender_demographics["Price"].mean()
total_purchase_value = gender_demographics["Price"].sum()
average_total_purchase_per_person = total_purchase_value/total_SN_gender

# Summary dataframe of above results
purchase_gender_demographics_df = pd.DataFrame({"Purchase Count": purchase_count,
                                               "Average Purchase Price": average_purchase_price,
                                               "Total Purchase Value": total_purchase_value,
                                               "Average Total Purchase Per Person": average_total_purchase_per_person})

# Index for gender
purchase_gender_demographics_df.index.name = "Gender"

# Cleaner Formatting
purchase_gender_demographics_df.style.format({"Total Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Average Total Purchase Per Person":"${:,.2f}"})

# Age Demographics

In [22]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_names= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=bin_names)

# Calculate the numbers and percentages by age group
age_group = purchase_data.groupby("Age Group")
total_count = age_group["SN"].nunique()
percentage_of_players_age = (total_count/total_number_of_players) * 100

# Create a summary data frame to hold the results
age_results_df = pd.DataFrame({"Total Count": total_count,
                               "Percentage of Players": percentage_of_players_age})

# Cleaner formatting
age_results_df.index.name = None
age_results_df.style.format({"Percentage of Players": "{:,.2f}%"})

# Purchasing Analysis (Age)